.row
  .col-xs-12
    %h2 読書感想 投稿
  .col-xs-8
    - if @collections.present?
      = render 'form'
    - else
      %p
        登録されている蔵書がありません。
        以下より感想を書く蔵書を登録してください。
      = link_to '蔵書を登録する', new_collection_path, class: 'btn btn-default'
