.mypage-menu
  %ul.list-group
    %li.list-group-item
      = link_to mypage_root_path do
        %i.glyphicon.glyphicon-home
        ホーム
    %li.list-group-item
      = link_to mypage_collections_path do
        %i.glyphicon.glyphicon-book
        蔵書
    %li.list-group-item
      = link_to mypage_reviews_path do
        %i.glyphicon.glyphicon-pencil
        読書感想
