.container
  .row
    #contents
      .col-md-8
        .row
          %h2 News 一覧
          %table.table.table-hover
            - if @news
              - @news.each do |news|
                %tr
                  %td.news-date
                    = news.created_at
                  %td.news-title= news.title
                  %td.news-content= link_to '詳細へ', news_path(news)
            - else
              %tr
                %td ニュースはありません。
    #sidebar
      .col-md-4
        %h3.content-title News
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
