.row
  .col-xs-12
    %h2 News 一覧
    %table.table.table-hover
      - if @news
        - @news.each do |news|
          %tr
            %td.col-xs-2.news-date
              = news.created_at.to_formatted_s(:date)
            %td.col-xs-10.news-title
              = link_to news.title, news_path(news)
      - else
        %tr
          %td ニュースはありません。
