.container
  .row
    #contents
      .col-md-8
        .row
          %h2 お問合せ完了
          %P お問合せいただきありがとうございます。
          %p サイト運営者がお問合せ内容を確認して、ご連絡させていただくかもしれません。
          %p 引き続き、isetan をよろしくお願いします。
          = link_to 'TOPページに戻る', root_path, class: 'btn btn-default'
