/*
 *= require bootstrap
 *= require custom
 *= require front_pages
 *= require_self
 */

body {
  margin-top: 55px;
  background-color: snow;
  color: darkslategray;
}

.contents-area{
  margin-top: 25px;
  padding-top: 25px;
}
