/*
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body {
  margin-top: 55px;
  background-color: snow;
  color: darkslategray;
}

.contents-area{
  margin-top: 25px;
  padding-top: 25px;
}
