/*
 *= require bootstrap
 *= require custom
 *= require front_pages
 *= require_self
 */

body {
  margin-top: 55px;
  background-color: snow;
  color: darkslategray;
}

.contents-area {
  margin-top: 15px;
  padding-top: 5px;
}

#contents, #sidebar {
  padding: 25px 25px 0;
}
