// container
.container {
  background-color: white;
}

// nav
.navbar {
  background: white;
  border-top: 3px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  a {
    color: darkslategray;
  }
}

// content
.contents-area {
  .book-box {
    margin-bottom: 40px;
    .user-images {
      padding: 7px;
      img {
        height: 40px;
      }
    }
    .returned_at {
      color: red;
    }
    .rend, .return-btn, .borrower {
      margin-top: 15px;
    }
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .content-title {
    margin-top: 0px;
  }
  .tagclip {
    float: left;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    margin: -10px 0 -20px 0px;
    font-size: 20px;
  }
}

.required {
  color: red;
}

.search-area {
  margin: 10px;
  padding: 10px;
  background-color: #FFFFCC;
  .search-results {
    padding-top: 20px;
  }
}

// news
.news-content {
  margin-bottom: 30px;
}

// reviews
.btn-area {
  margin-top: 15px;
}

// users
.profile-image{
    width: 70px;
    height: 70px;
    border: solid 1px #ccc;
    display:table;
    text-align: center;
}
.profile-image > *{
    display:table-cell;
    vertical-align: middle;
}

// collections
.collection-status {
  font-size: 18px;
}

// footer
footer {
  background-color: white;
  margin-top: 10px;
  padding: 15px;
}
