.row
  .col-xs-12
    %h2 読書感想 投稿
    -if @review.errors.any?
      .alert.alert-danger
        %ul
          - @review.errors.full_messages.each do |msg|
            %li= msg
  .col-xs-8
    = render 'form'
