.navbar.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Isetan', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to '読書感想', reviews_path
        %li.active= link_to '蔵書', books_path
        -# TODO 予約機能実装
          %li
            %a{href: "#"} 予約
        %li=link_to 'Users', users_path
        %li= link_to 'お問合せ', new_contact_path
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li= link_to 'マイページ', current_user
          %li=link_to 'Logout', logout_path, method: 'delete'
        - else
          %li=link_to 'Login', login_path
