.navbar.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Isetan', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to '蔵書', collections_path
        %li
          %a{href: "#"} 予約
        %li
          %a{href: "#contact"} お問合せ
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          %li=link_to 'Users', users_path
          %li.dropdown
            =link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              Account
              %b.caret
            %ul.dropdown-menu
              %li=link_to 'Profile', current_user
              %li=link_to 'Settings', edit_user_path(current_user)
              %li.divider
              %li=link_to 'Logout', logout_path, method: 'delete'
        - else
          %li=link_to 'Login', login_path
