.key-visual
  .bg-filter
    .row
      .col-sm-4.col-sm-offset-8
        .main-view-area
          %h2.view-title 蔵書管理 isetan
          %p
            あなたの本をみんなで共有しましょう！
            %br
            読んだ本の記録もできます！
          - if signed_in?
            = link_to '感想を見る', reviews_path, class: 'btn btn-default signup-btn'
            = link_to '感想を書く', new_review_path, class: 'btn btn-default signin-btn'
          - else
            = link_to 'ユーザー登録', new_user_path, class: 'btn btn-default signup-btn'
            = link_to 'ログイン', login_path, class: 'btn btn-default signin-btn'
