- if @sidebar_news && params[:controller] == 'front_pages'
  .news
    %h3.content-title News
    - @sidebar_news.each do |news|
      %p
        %span.news-date= news.created_at.to_formatted_s(:date)
        %span.news-title= link_to news.title, news_path(news)
    %p.text-right
      = link_to 'News一覧へ', news_index_path
